*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
    --primary-color: #2196F3;
    --secondary-color: #333A3F;
}


html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

/*header*/
header {
    padding: 5px 15px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    font-style: italic;
    color: #FFF;
    padding: 0;
    margin: 0;
}
.scripted {
    font-family: 'Tangerine', serif;
    font-weight: 100;
    font-size: 3rem;
    vertical-align: top;
    font-style: normal;
}
.tagline {
    padding-top: 0;
    margin: 0;
    font-weight: 900;
    color: #FFF;
    font-size: 1.1rem;
    text-align: right;
}

/* sidebar */
.sidebar-sticky {
    text-align: center;
    height: 100vh;
    padding: 0 25px;
}
.sidebar-sticky h2 {
    margin-top: 25px;
}

#city, #search {
    height: 40px;
}
#search {
    margin: 0 0 0 3px;
}

/* Celcius/Fahrenheit switch */


    .button-holder {
        color: #FFF;
        margin: 15px auto 0;
        font-weight: bold;
        display: flex;
        justify-content:space-around;
        align-content: center;
        width: 160px;

    }

    /* The switch - the box around the slider */

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        background-color: #2196F3;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked + .slider {
        background-color: #2196F3;
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }

/* recent searches list */
    .sidebar-sticky h3 {
        margin-top: 15px;
        font-size: 1.3rem;
        color: #bbbbbb;
    }

    .cities {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 5px 20px;
    }
    .cities a {
        display: block;
        padding: 5px 10px;
        background-color: var(--primary-color);
        border: 1px solid var(--secondary-color);
        color: #FFF;
        text-decoration: none;
    }
    .cities a:hover {
        background-color: var(--secondary-color);
        border-color: var(--primary-color);
    }

/* Weather info display area */
    main h3 {
        margin-top: 20px;
    }

    main .row {
        padding: 0 16px;
    }
    .weather-icon {
        font-size: 80px;
        padding: 0;
        margin: 15px 0 30px;
    }
    .largeIcon {
        font-size: 120px;
    }
    .bg-blue {
        background-color: var(--primary-color);
        text-align: center;
    }
    .bg-white {
        background-color: #FFF;
        text-align: center;
    }
    .blue {
        color: var(--primary-color);
    }
    .white {
        color: #FFF;
    }
    .white h3 {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    h5 {
        font-size: 1.1rem;
    }
    
    /* UV rating */
        .uv-rating {
            padding: 3px 10px;
            margin: 0 5px;
            border: 1px solid #FFF;
            border-radius: 16px;
        }
        .low {
            background-color: green;
        }
        .mod {
            background-color: yellow;
            color: #000;
        }
        .high {
            background-color: orange;
            color: #000;
        }
        .v-high {
            background-color: red;
        }
        .ext {
            background-color: fuchsia;
        }

/* adjustments for screens under 1025px */
@media screen and (max-width: 1024px) {
    
    .sidebar-sticky h2 {
        margin-top: 25px;
        font-size: 1.5rem;
    }
    .sidebar-sticky h3 {
        margin-top: 15px;
        font-size: 1.1rem;
        color: #bbbbbb;
    }
    .cities {
        margin: 0;
    }
    .card {
        padding: 3px;
    }
    .card-body {
        padding: 10px 0;
    }
    .card-subtitle {
        font-size: 1rem;
    }
}

/* adjustments for screens under 768px */

@media screen and (max-width: 767px) {
    .sidebar-sticky {
        height:fit-content;
        padding-bottom: 20px;
    }
    .sidebar-sticky h3, .cities {
        display:none;
    }

}
