*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
    --primary-color: #333A3F;
    --secondary-color: #2196F3;
    --tertiary-color: #60A7DE;
}



html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

header {
    text-align: center;
    padding: 30px 0 0;
    background-image: linear-gradient(270deg, var(--secondary-color) 0%, var(--secondary-color) 100%);
    background-repeat: no-repeat;
    background-size: 100% 20%;
    background-position: bottom;
}

h1 {
    font-size: 10rem;
    font-weight: 700;
    font-style: italic;
    color: var(--secondary-color);
    padding: 0;
    margin: 0;
}
.scripted {
    font-family: 'Tangerine', serif;
    font-weight: 100;
    font-size: 8rem;
    vertical-align: top;
    font-style: normal;
}
.tagline {
    padding-top: 0;
    margin: 0;
    font-weight: 900;
    color: #FFF;
    font-size: 1.5rem;
}

.sidebar-sticky {
    text-align: center;
    height: 100vh;
}

/* Celcius/Fahrenheit switch */
.button-holder {
    margin-top: 15px;
    color: #FFF;
    font-weight: bold;
    display: flex;
    justify-content:space-around;
    align-content: center;
    padding: 0 70px

}

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: #2196F3;
}
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.cities {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 5px 20px;
}
.cities a {
    display: block;
    padding: 5px 10px;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    color: #FFF;
    text-decoration: none;
}
.cities a:hover {
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
}


main h3 {
    margin-top: 20px;
}



.weather-icon {
    font-size: 80px;
    padding: 0;
    margin: 15px 0 30px;
}
.largeIcon {
    font-size: 120px;
}
.bg-blue {
    background-color: var(--secondary-color);
    text-align: center;
}
.bg-white {
    background-color: #FFF;
    text-align: center;
}
.blue {
    color: var(--secondary-color);
}
.white {
    color: #FFF;
}
.white h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}
h5 {
    font-size: 1.1rem;
}

label {
    color: #FFF;
}
.uv-rating {
    padding: 3px 10px;
    margin: 0 5px;
    border: 1px solid #FFF;
    border-radius: 16px;
}
.low {
    background-color: green;
}
.mod {
    background-color: yellow;
    color: #000;
}
.high {
    background-color: orange;
    color: #000;
}
.v-high {
    background-color: red;
}
.ext {
    background-color: fuchsia;
}
